<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}
                {% trans %}Contact list{% endtrans %}
            {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <header>
                    <nav class="navbar navbar-expand navbar-dark bg-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('contact_list') }}">
                                        {% trans %}Contacts{% endtrans %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('contact_list_my') }}">
                                        {% trans %}My Contacts{% endtrans %}
                                    </a>
                                </li>
                            </ul>
                            <span class="navbar-text">{{ app.user.email }} (<a href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>)</span>
                        </div>
                    </nav>
            </header>
        {% endif %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}

        <main>
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
